<% if flash[:notice] %>
  <h1><%= flash[:notice] %></h1>
<% end %>

<h1>Instructor login:</h1>

<h1><%= @howard %></h1>

<form action="/login" method="post">
  <input type="text" name="email" value="" placeholder="email">
  <input type="text" name="password" value="" placeholder="password">
  <input type="submit" name="" value="Login">
</form>
